:root {
  --background: #fafafa;
  --background: radial-gradient(circle,rgba(209, 238, 174, 0.4) 0%, rgba(148, 187, 233, 1) 100%);
  --foreground: #231d1d;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #1d041c;
    --background: linear-gradient(70deg,rgba(112, 22, 109, 1) 0%, rgba(9, 9, 121, 1) 32%, rgba(0, 212, 255, 1) 100%);
    --foreground: #ffffff;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
